body {
    overflow-y: hidden;
    overflow-x: hidden;
    height: 99vh;
    margin: 0px;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    /*background-image: url(../assets/favicon.png);*/
    background-position: center, center;
    background-size: 250px;
    background-repeat: no-repeat;
    background-color: var(--body_colour);
    background-blend-mode: luminosity;
}

.menu_bar {
  z-index: 10;
  top: 0px;
  position: fixed;
  height: 60px;
  width: 100%;
  margin: 0%;
  margin-top: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background-color: var(--menu_colour);
  font-weight: 700;
  border-radius: 0px 0px 15px 15px;
  /*box-shadow: #1f1f1f 0 10px 10px -10px;*/
  box-shadow: #5e5df0 0 10px 20px -10px;
}

.menu_link {
    width: 5%;
    text-align: center;
    padding: 0.5%;
    border-radius: 25px;
    transition: transform 0.2s;

    &:hover {
        /*background-color: var(--menu_item_hover_colour);*/
        transform: scale(1.1);
        cursor: pointer;
    }
}
a {
    text-decoration: none;
    color: var(--font_colour);
}

.title {
    /*border: solid var(--title_border_colour) 2px;*/
    border-radius: 15px;
    /*background-color: var(--title_colour);*/
    box-shadow: #FFFFFF 0 3px 17px -10px;
    transition: transform 0.2s ease;
    padding: 0px 35px;
    color: #5E5DF0;

    &:hover {
        color: var(--title_colour);
        cursor: pointer;
        transform: scale(1.3);
    }
}

.welcome {
  position: absolute;
  font-size: 3rem;
  left: -10%;
  top: 20px;
  width: 100000px;
  z-index: -1;
  color: rgba(255, 255, 255, 0.1);
}

.content_box {
    background-color: white;
    z-index: 1;
    color: black;
    border-radius: 20px;
    margin: 3%;
    position: absolute;
    height: 250px;
    width: 300px;
    justify-content: space-evenly;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: rgba(50, 50, 93, 0.5) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
.other_games_container { 
    top: 60px;
    left: 20px;
}
.how_to_play_container {
    text-align: center;
    top: 60px;
    left: 400px;
}

.link {
    text-decoration: underline;
    color: black;

    &:hover {
        color: #5E5DF0;
    }
}

.theme-checkbox {
    --toggle-size: 5%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 3.5%;
    height: 3%;
    background: -webkit-gradient(linear, left top, right top, color-stop(50%, #efefef), color-stop(50%, #2a2a2a)) no-repeat;
    background: -o-linear-gradient(left, #efefef 50%, #2a2a2a 50%) no-repeat;
    background: linear-gradient(to right, #efefef 50%, #2a2a2a 50%) no-repeat;
    background-size: 205%;
    background-position: 0;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
    border-radius: 99em;
    position: relative;
    cursor: pointer;
    font-size: var(--toggle-size);
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 2%;
}
  
.theme-checkbox::before {
    content: "";
    width: 3.5%;
    height: 3%;
    position: absolute;
    top: 0.438em;
    left: 0.438em;
    background: -webkit-gradient(linear, left top, right top, color-stop(50%, #efefef), color-stop(50%, #2a2a2a)) no-repeat;
    background: -o-linear-gradient(left, #efefef 50%, #2a2a2a 50%) no-repeat;
    background: linear-gradient(to right, #efefef 50%, #2a2a2a 50%) no-repeat;
    background-size: 205%;
    background-position: 100%;
    border-radius: 50%;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
}
  
.theme-checkbox:checked::before {
    left: calc(100% - 2.25em - 0.438em);
    background-position: 0;
}
  
.theme-checkbox:checked {
    background-position: 100%;
}

html {
    --font_colour: rgb(42, 42, 44);
    --body_colour: rgb(10, 10, 20);
    --menu_colour: rgb(245, 245, 255);
    --menu_item_hover_colour: rgb(125, 125, 125);
    --menu_item_spacing: 15px;
    --title_colour: #5E5DF0;
    --title_border_colour: white;
}