body {
  overflow-y: auto;
  height: 100%;
  margin: 0px;
  padding: 0px;
  color: white;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-color: var(--body_colour);
}

.menu_bar {
  z-index: 10;
  top: 0px;
  position: fixed;
  height: 60px;
  width: 100%;
  margin: 0%;
  margin-top: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background-color: var(--menu_colour);
  font-weight: 700;
  border-radius: 0px 0px 15px 15px;
  /*box-shadow: #1f1f1f 0 10px 10px -10px;*/
  box-shadow: #5e5df0 0 10px 20px -10px;
}

.menu_link {
    width: 5%;
    text-align: center;
    padding: 0.5%;
    border-radius: 25px;
    transition: transform 0.2s;

    &:hover {
        /*background-color: var(--menu_item_hover_colour);*/
        transform: scale(1.1);
        cursor: pointer;
    }
}
a {
    text-decoration: none;
    color: var(--font_colour);
}
.playerearnings {
    text-decoration: underline red;
}

.title {
    /*border: solid var(--title_border_colour) 2px;*/
    border-radius: 15px;
    /*background-color: var(--title_colour);*/
    box-shadow: #FFFFFF 0 3px 17px -10px;
    transition: transform 0.2s ease;
    padding: 0px 35px;
    color: #5E5DF0;

    &:hover {
        color: var(--title_colour);
        cursor: pointer;
        transform: scale(1.3);
    }
}

.lb_header {
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
  text-decoration: overline red;
}

.btn {
  position: absolute;
  top: 100px;
}
.main_table {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 200px;
  width: 80%;
  max-height: 700px;
  overflow-y: auto;
  padding: 0px;
  text-align: center;
  border-radius: 15px 15px 0px 0px;
}
.name_h {
  background-color: var(--menu_colour);
  color: var(--font_colour);
  padding: 18px;
  text-align: center;
  border-radius: 15px 0px 0px 0px;
}
.winnings_h {
  background-color: var(--menu_colour);
  color: var(--font_colour);
  padding: 18px;
  text-align: center;
  border-radius: 0px 15px 0px 0px;
}
.main_table tr {
  height: 75px;
  padding: 20px 15px;
  text-align: center;
  font-weight: 500;
  font-size: 17.5px;
}
.main_table td {
  padding: 10px;
  margin-top: 10px;
  border-bottom: solid 0.5px var(--menu_colour);
}
.row_divider {
  width: 90%;
  margin: 20px;
  margin-left: 0px;
  margin-right: 0px;
}
html {
  --font_colour: rgb(42, 42, 44);
  --body_colour: rgb(10, 10, 20);
  --menu_colour: rgb(245, 245, 255);
  --menu_item_hover_colour: rgb(125, 125, 125);
  --menu_item_spacing: 15px;
  --title_colour: #5E5DF0;
  --title_border_colour: white;
}